doctype
html(ng-app="finder")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		meta(name="title", content="Finder Challenge")
		meta(name="author", content="Segundo Carmen Dominguez")
		link(rel='stylesheet', href='./public/css/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='./public/css/main.min.css')
	body(ng-controller="appController")
		header
			block header
		section#app
			block contenido				
		footer
	script(type='text/javascript' src='./bower_components/angular/angular.min.js')
	script(type='text/javascript' src='./bower_components/jquery/dist/jquery.min.js')
	script(type='text/javascript' src='./public/js/Controller.js')