h1,h2,h3,h4
	margin 5px
.btn
	padding 10px
	margin-left 20px
	cursor pointer
	border solid 1px #3a3a3a
.input
	padding 10px
html,body
	margin 0
	font-family "Arial"
	font-size 14px	
	background #dedede
body
	header
		display flex
		width 1200px
		margin 0 auto
		padding 15px
		box-sizing border-box
		padding-bottom 20px
		background #ffffff
		.title
			width 300px
		.search
			width 900px
			padding 10px 50px
	section#app
		display flex
		width 1200px
		margin 0 auto
		padding 15px
		box-sizing border-box
		background #ffffff
		#aside
			width 300px
			.item_aside
				padding-left 10px
				ul
					padding-left 20px					
					li.todos
						list-style none
						border-bottom 1px solid #3a3a3a
						margin-top -1px
						color #3a3a3a
						padding 10px 15px
						display block
						cursor pointer
					li.child
						list-style none
						width 100%
						border-bottom 1px solid #3a3a3a
						margin-top -1px
						a
							text-decoration none
							color #3a3a3a
							padding 10px 15px
							display block
					li
						&:hover
							background #dedede
		#content
			width 900px
			.data
				padding 10px
				display flex
				justify-content space-between
				flex-flow row wrap
				.item_data
					width 33.3333%
					margin 20px 0
					padding 10px
					box-sizing border-box
					box-shadow 0px 0px 2px #3a3a3a
					figure
						margin 0
						padding 0
						width 100%
						text-align center
			.paginas
				margin-top 20px
				border-top 1px solid #3a3a3a
				padding-top 10px
				ul
					margin 0
					padding 0
					display flex
					justify-content flex-end
					li
						list-style none
						margin 5px 10px
						padding 5px 8px
						cursor pointer
						border 1px solid transparent
						&:hover
							border 1px solid #4a4a4a
							background #dedede
					li.active
						border 1px solid #4a4a4a
						background #dedede			
@media only screen and (max-width: 1200px)
	body header,
	body section#app
		width 900px
	body header .search,
	body section#app #content
		width 600px
	body section#app #content .data .item_data
		width 50%
@media only screen and (max-width: 900px)
	body header,
	body section#app
		width 768px
	body header .search,
	body section#app #content
		width 560px
	body section#app #content .data .item_data
		width 50%
	body section#app #aside
		width 200px
@media only screen and (max-width: 768px)
	body header,
	body section#app
		width 100%
		display block
	body header .search
		padding 0
	body header .title
		width 100%
	body header .search,
	body section#app #content
		width 100%
	body section#app #content .data
		display block
	body section#app #content .data .item_data
		width 100%
	body section#app #aside
		width 100%
	body section#app #content .paginas ul li
		padding 5px
		margin 5px